.carruselImg{
    object-fit: cover;
    height: 350px;
}

a{
    text-decoration: none;
    color: black;
}

main{
    background: #f2eeee;
}

aside{
    border-radius: 5px;
}

.error404{
    background: rgb(8,28,34);
    margin: 0;
    padding: 0;
    height: 100px;
}

.error404img{
    width: 50%;
}

.circulo{
    object-fit: cover;
    height: 350px;
    border-radius: 50%;
    border: 3px solid  yellow;
}

.imagenProductos{
    object-fit: cover;
    height: 300px;
}